<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="siteWide.css" rel="stylesheet" type="text/css"> -->
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                nav menu
            </ul>
            {% if user.is_authenticated %}
            <div>
                Logo
            </div>
            {% else %}
            <a href="{% url 'login' %}">
                Login
            </a>
            {% endif %}
        </nav>
    </header>
    <main>
