/* Nav bar dropdown menu */

.dropdown_btn {
    background-color: white;
    color: black;
    padding: .9rem;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    left: 16rem;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 15rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    z-index: 1;
}

.dropdown_content a {
    color: black;
    padding: .4rem .2rem;
    border-bottom: 2px solid black;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {
    color: black;
    background-color: white;
}

.sign_up {
    font-size: 2rem;
}

.show {
    display: block;
}

/* End Nav dropdown menu */

